* {
  margin: 0%;
  padding: 0%;
  font-family: Georgia;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body h1 {
  text-align: center;
  margin: 15px 0;
}

.text {
  text-align: center;
  margin: 15px 100px;
}

.imgCards {
  justify-items: center;
  max-width: 300px;
  min-width: 200px;
}

.Cards {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}

.card {
  max-width: 300px;
  margin: 10px 10px;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  border-radius: 10px;
}

.Cards h3 {
  padding: 10px;
  text-align: center;
}

.Cards p {
  text-align: center;
}

.Cards .masInfo {
  padding: 10px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: dodgerblue;
}

.tituloCards:hover {
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2) ;
  transform: translateY(-15px);
}

.verMas {
  margin: 15px 45%;
  border-radius: 10px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
  cursor: pointer;
}
